@if (loading()) {
<div
  aria-busy="true"
  aria-live="assertive"
  class="fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50"
  role="alert"
>
  <div class="flex flex-col items-center">
    <div
      aria-hidden="true"
      class="flex space-x-2 mb-3"
      data-testid="loading-bars"
    >
      <div class="w-2 h-6 bg-blue-500 rounded-sm animate-bar1"></div>
      <div class="w-2 h-6 bg-blue-500 rounded-sm animate-bar2"></div>
      <div class="w-2 h-6 bg-blue-500 rounded-sm animate-bar3"></div>
    </div>

    @if (showMessage()) {
    <span data-testid="loading-message">{{ message() }}</span>
    } @else {
    <span class="sr-only">{{ message() }}</span>
    }
  </div>
</div>
}
