@let baseToastClass = 'text-white p-3 rounded shadow flex items-center
justify-between min-w-[200px]';

<ul class="fixed top-4 right-4 flex flex-col gap-2 z-50">
  @for (toast of toasts(); track $index) {
  <li
    data-testid="toast-list-item"
    [class]="`${baseToastClass} ${toast.class}`"
  >
    <div class="flex flex-col gap-2">
      <span data-testid="toast-list-title">{{ toast.title }}</span>

      @if (toast.message) {
      <span class="text-sm" data-testid="toast-list-message">
        {{ toast.message }}
      </span>
      }
    </div>

    <button
      appCustomButton
      appearance="ghost"
      aria-label="Close"
      class="ml-4 text-white"
      data-testid="toast-list-close-button"
      size="sm"
      type="button"
      (click)="removeToast(toast.id)"
    >
      ✕
    </button>
  </li>
  }
</ul>
